nav {
    background-color: #8e6fcc;
    color: #fff;
    padding: 30px 60px;
    display: flex;
    justify-content: space-between;
}

nav ul{
    display: flex;
    width: 50%;
}

nav ul li{
    
    margin: 10px;
    list-style-type: none;
    width: 30%;
    height: 40px;
    background-color: #f1ebf1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;

}

nav ul li a{
     text-decoration: none;
}

nav ul li:hover{
    background-color: #68395900;
}
