nav {
    background-color: #8e6fcc;
    color: #fff;
    padding: 30px 60px;
    display: flex;
    /* justify-content: space-between; */
}

nav ul{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: 50%;
}

nav ul li{
    
    margin: 10px;
    list-style-type: none;
    width: 30%;
    height: 40px;
    background-color: #f1ebf1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;

}

nav ul li a{
     text-decoration: none;
}

nav ul li:hover{
    background-color: #68395900;
}

.fa-user
{
    margin-top: 30px;
    margin-right: 10px;
}
a {
    color: #1E7EC8;
    text-decoration: none;
}
a:hover {
    text-decoration: underline; 
}

.usersection
{
    color:black; 
    margin-top:25px; 
    font-weight: 600;
}

.column {
    float: left;
}
/* .row
{
    float: right;
} */
.left {
    width: 5%;
    margin: 10px; 
    margin-bottom: 10px;
    margin-left: 70px;
    margin-right: 30px;
}

.right {
    margin-top: 20px;
    margin-left: 20px;
    width: 45%;
    overflow-wrap: break-word;
}

.search-bar-left {
    width: 30%;
    margin: 20px;   
}

.search-bar-right {
    margin-top: 20px;
    margin-left: 150px;
    width: 50%;
    overflow-wrap: break-word;
    height: 40px;
}
.search-bar-button {
    /* float: right; */
    margin-top: 20px;
    margin-left: 4px;
    /* overflow-wrap: break-word; */
    height: 40px;
    width: 50px;
}

.category-row :after
{
    display: table;
    clear: both;

}
.category-row
{
    margin-top: 10px;
}
.category-column
{
    float: left;
    width: 25%;
    margin-bottom: 20px;
}
